/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-gen-2019, 16.04.10
    Author     : tss
*/
table{
    border: solid 2px black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}
td{
    background-color: white;
    border: solid 1px black;
    width: 30px;
    height: 30px;
    font-weight: bold;
    color:  blue; 
    border-radius: 50%;
    margin: 20px;
    padding: 20px;
}
td:hover {
    background-color: yellow;

}
td:nth-child(odd):hover{
    background-color: red;   
}

span.evidenza{
    background-color: yellow;
    font-style: italic;
    padding: 0px 0px   
}

span.evidenza:before{
    
    width: 10px;
    content: '(';
    padding: 0px 5px 0px 10px;
    border-radius: 50%;
}
span.evidenza:after{
    
    width: 10px;
    content: ')';
    padding: 0px 10px 0px 5px;
    border-radius: 50%;
}